<script>//<![CDATA[

	function get_char() {
		$.ajax({
			type: 'put',
			url: '',
			data: { current_chars: <%= @display_characters.map{|e| e[:id]} %> },
			url: '<%= choose_characters_path %>',
			success: function(ret){
				$("#char_" + ret.chosen).css("border", "3px solid red");
			},
			error: function(err) {
				alert(err);
			}
		})
	}


//]]></script>