<%= render partial: "javascript" %>

<h1>Choose a character!</h1>

<%= form_tag evaluate_characters_path(counter: @counter, current_chars: @display_characters.map{|e| e[:id]}), method: "put" do %>

  <table>
    <tr>
      <% @display_characters.size.times do |i| %>
        <th>Character <%= (i + 1).to_s %>:</th>
      <% end %>
    </tr>
    <tr>
      <% @display_characters.each do |character| %>
        <td id="char_<%= character[:id] %>"><%= image_tag character[:image], :height => "400px" %></td>
      <% end %>
    </tr>
    <tr>
      <% @display_characters.each do |character| %>
        <td align="center"><%= radio_button_tag(:character, character[:id]) %></td>
      <% end %>
    </tr>
  </table>

  <% if params["counter"].to_i <= 30 %>
    <%= submit_tag("Next!") %>
  <% end %>

<% end %>
<%= button_to "Reset", reset_characters_path, method: "get", confirm: "This will erase all the choices you made so far. Confirm?" %>
<%= button_to "Now mix it!", mix_characters_path, method: "get" %>
<% if session[:ai].present? && params["counter"].to_i <= 30 %>
  <%= button_to_function "Choose for me!", "get_char()" %>
<% end %>


